@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Indie+Flower&display=swap');
html{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Fredoka One', cursive;
    font-family: 'Indie Flower', cursive;
    
    
}

body{
    box-sizing: border-box;
    
}


h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0%;
    font-size: 50px;
}
h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
section, #sizing-container{
    display: flex;
    justify-content: center;
}
#board-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 62vh;
    width: 75vh;
    margin: 0%;
}

.grid-cell {
    display: flex;;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 22vh;
    height: 19vh;
    font-size: 12vh;
    border:solid rgb(54, 34, 87)
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
button{
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    font-size: 30px;
    position: relative;
    /* border: solid; */
}

aside{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.playerList{
    display: flex;
    font-size: 25px;
}
.player-name{
    width: 15em;
}

#submit{
    display: inline;
}
#switch {
    display: none;
}
#computerUser{
    display: flex;
    color: crimson;
}