body{
    box-sizing: border-box;
}


h1 {
    display: flex;
    justify-content: center;
}
section{
    display: flex;
    justify-content: center;
}
#board-container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border: solid ;
    height: 98vh;
    width: 95vh;
}

.grid-cell {
    display: flex;;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 30vh;
    height: 25vh;
    font-size: 12vh;
    border:solid
}